*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* DEVELOPER Alexander Boyd, IS117-003, Fall 2023 */

.containter-fluid video{
     width:40%;
}

.container-fluid h1 {
    color: #fff;
    padding: 3%;
}

#videoGallery{
    background-color: rgb(0, 0, 0);;
}

#animation{
    padding: 5%;
    font-size: larger;
    color:#fff;
    background-image: linear-gradient(rgb(0, 10, 79),rgb(0, 0, 0));
}


#mobileGallery{
    padding: 5%;
    background-color:black;
    justify-content: center;
    color: #fff;
    display: none;
}

#mobileGallery h1 {
    font-size: 400%;
    padding: 2%;
}
#mobileGallery video {
    padding: 2%;
}

#videocontainer {
    padding: 2%;
    background-image: linear-gradient(rgb(0, 0, 0),rgb(0, 0, 0));
}

@media only screen and (max-width: 991px) {
    #mobileGallery{
        display: block;
    }

    .container-fluid {
        display: none;
    }
    
}