#carouselExample {
    width:50%;
    padding: 2%;
    float:right;
}

#carouselExample h1 {
    color: white;
    padding: 3%;
}

#carouselExample2 {
    width:50%;
    padding: 2%;
    float:right;
}

#carouselExample2 h1 {
    color: white;
    padding: 3%;
}

body {
    background: linear-gradient(rgb(18, 0, 62),rgb(0, 0, 0));
}

aside {
    color:white;
    padding: 5%;
}

aside p {
    font-size:150%;
}


@media only screen and (max-width: 800px) {
    #carouselExample{
        width: 100%;
        float:none;
    }
    #carouselExample h1{
        font-size: 30px;
    }

    #carouselExample2 {
        width: 100%;
        justify-content: center;
        float:none;
    }

    #carouselExample2 h1{
        font-size: 30px;
    }

   aside h1 {
        font-size: 30px;
    }
  }

  @media only screen and (max-width: 500px) {
    #carouselExample h1{
        font-size: 20px;
    }
    #carouselExample2 h1{
        font-size: 20px;
    }
    aside h1 {
        font-size: 20px;
    }

  }