/* DEVELOPER Alexander Boyd, IS117-003, Fall 2023 */
.col-4 {
    padding:1rem;
    background-image:linear-gradient(rgb(1, 0, 7),rgb(23, 3, 51));
    text-align: center;
  }

  .col-8 {
    padding:1rem;
    background-color: black;
    text-align: center;
  }

  .col-8 h1 {
    font-size:120px;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    transition: 0.5s;
  }

  .col-8 h1:hover{
    -webkit-text-stroke: 3px #FFFFFF;
    color: transparent;
  }

  #carouselExample {
    width: 100%;
  }

  #blogArea {
    padding: 5%;
    color: #ffffff;
    background: linear-gradient(rgb(9, 3, 51),rgb(0, 0, 7));
    font-size: 22px;
  }

  #blogArea2 {
    padding: 5%;
    color: #ffffff;
    background: linear-gradient(rgb(9, 3, 51),rgb(0, 0, 7));
    display: none;
  }

#blogArea p {
    font-size: larger;
}

#carouselExample2 {
    display: none;
}


#biography p {
    font-size: larger;
}

@media only screen and (max-width: 760px) {
    #carouselExample{
        display: none;
    }
    #carouselExample2{
        display: block;
    }
    #blogArea {
        display:none;
    }
    #blogArea2 {
        display: block;
    }
  }