.col-4 {
    padding:1rem;
    background-image:linear-gradient(rgb(1, 0, 7),rgb(23, 3, 51));
    text-align: center;
  }

  .col-8 {
    padding:1rem;
    background-color: black;
    text-align: center;
  }

  .col-8 h1 {
    font-size:120px;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    transition: 0.5s;
  }

  .col-8 h1:hover{
    -webkit-text-stroke: 3px #FFFFFF;
    color: transparent;
  }

  #carouselExample {
    width: 100%;
  }

  #blogArea {
    padding: 5%;
    color: #FFFFFF;
    background: linear-gradient(rgb(0, 0, 0),rgb(35, 35, 41));
  }

#blogArea p {
    font-size: larger;
}