/* DEVELOPER Alexander Boyd, IS117-003, Fall 2023 */

.card:hover{
    -webkit-box-shadow: 0px 2px 60px -20px rgba(0,0,0,0.86);
-moz-box-shadow: 0px 2px 60px -20px rgba(0,0,0,0.86);
box-shadow: 0px 2px 60px -20px rgba(0,0,0,0.86);
transition: 0.5s;
}

section {
    color:white;
    background: linear-gradient(rgb(225, 168, 0),rgb(255, 174, 0));
}

section a {
    text-decoration: none;
    color: white;
}